@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@{
    Layout = "_Layout.cshtml";
}

<div class="container py-5">
    <h1 class="pb-2 border-bottom">Upcoming Events</h1>
    @{
        var eventPages = Model.Children<EventPage>();
        if (eventPages != null && eventPages.Any())
        {
            <div class="list-group">
                @foreach (var eventPage in eventPages)
                {
                    <a href="@eventPage.Url()" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@eventPage.EventTitle</h5>
                            <small>@eventPage.EventDate.ToString("dd MMMM<x_bin_615>")</small>
                        </div>
                    </a>
                }
            </div>
        }
        else
        {
            <p>There are currently no events scheduled.</p>
        }
    }
</div>
